.header__container {
    width: 100%;
    /* height: auto; */
    display: flex;
    flex-direction: row;
}
.header-log-out__btn {
    width: 10%;
    float: right;
}
.navbar__container {
    width: 100%;
    float: left;
    display: flex;
    flex-direction: row;
}
.navbar__link {
    /* width: 100%; */
    padding-inline: 2rem;
    text-decoration: none;
}
.navbar__item {
    color: black;
    margin-block: 0.5rem;
}